@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please click on the "See Movie List" link below to go to the movie list.</p>
    <div>
        <a asp-controller="Movies" asp-action="Index">See Movie List</a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="About">About this app</a>
    </div>
</div>

